node_modules
*.vsix
**/**/.DS_Store

jq
package-lock.json
vsc-extension-quickstart.md
.ignore
*.ignore
*.ignore.*

.vscode/launch.json
.vscode
.vscode
.vscode
.vscode/settings.json
.vscode/settings.json
